<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-threads"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="f-name">&copy;Wanderlust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>